# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# env (claves nunca en el código)
.env
.env.*
!.env.example

# logs / sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.log
